a.btn-green {
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background-color: #0ba25e;
    margin-right: 3px;
}
.btn-green {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background-color: #0ba25e;
    cursor: pointer;
    margin-right: 3px;
}
.btn-big {
    font-size: 30px;
}
.group-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}
a.btn-red {
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background-color: #ff5858;
    margin-right: 3px;
}
span[contenteditable="true"] {
    word-wrap: break-word;
    display: inline-block; 
    margin: 0 2px 0 2px;
    outline: dashed 1px rgba(255,255,255,0);
}
span[contenteditable="true"]:hover {
    outline: dashed 1px gray;
    cursor: text;
}
[contentEditable="true"]:empty:not(:focus):before {
    content:attr(cv-placeholder);
    color: #555;
    opacity: 0.8;
}
.col-50 {
    float: left;
    width: 50%;
}
.col-49 {
    float: left;
    width: 49%;
}
.row {
    
}
.pt10 {
    padding-top: 10px;
}
.mt10 {
    margin-top: 10px;
}
.cv-title {
    text-align: center;
    font-size: 21px;
    border: dashed 1px gray;
}
.cv-title:focus  {
    outline: none;
}
.cv-document {
    position: relative;
    background-color: #fff;
    margin: 10px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
}
.cv-main {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cv-body {
    padding: 10mm 6mm;
    font-size: 14px;
    line-height: 1.4em;
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.cv-item {
    padding: 3px;
    border: solid 1px #fff;
}
.cv-item:hover {
    border: solid 1px #bfbdbd;
    border-radius: 5px;
}

.item-contact i.fa {
    text-align: center;
    width: 20px;
}
.cv-block-head {
    position: relative;
    margin: 10px 0 10px 0;
}
.cv-block-head span {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.cv-block-head:after {
    display: block;
    content: " ";
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    z-index: 0;
    top: 50%;
    margin-top: -2px;
}
.cv-block-body {
    
}
/****************CV THÔNG TIN***********************/
.item-anhdaidien-wrapper {
    display: block;
    height: 160px;
    width: 160px;
    padding: 5px;
    border: 2px solid #999;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.item-anhdaidien {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.item-hoten-wrapper {
    text-align: center;
}
.cv-item-hoten {
    font-size: 30px;
}
.item-vitrimongmuon-wrapper {
    padding-top: 3px;
    text-align: center;
}
.cv-item-vitrimongmuon {
    font-size: 15px;
}
.n-item {
    position: relative;
    border: solid 1px rgba(255,255,255,0); 
}
.n-item:hover {
    position: relative;
    border: solid 0.5px rgba(1, 70, 0, 0.7);
}
.item-edittool {
    position: absolute;
    display: block;
    right: 0;
    top: -23px;
    z-index: 9;
}
.tool {
    padding: 5px 6px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.up-tool, .down-tool {
    background-color: #fff;
    border: solid 1px gray; 
}
.add-tool {
    background-color: #0ba25e;
    color: white;
}
.del-tool {
    color: white;
    background-color: #fd4949;
}
/***********CV Kỹ Năng******************/
.item-kynang {
    margin-bottom: 5px;
}
.item-kynang-value {
    position: relative;
    height: 5px;
    border: solid 1px #666;
}
.kynang-value {
    position: absolute;
    height: 5px;
    background-color: #666;
}
[vl=v5] {
    width: 100%;
}
[vl=v4] {
    width: 80%;
}
[vl=v3] {
    width: 60%;
}
[vl=v2] {
    width: 40%;
}
[vl=v1] {
    width: 20%;
}